<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="css/style.css">
    <link rel="stylesheet" th:href="@{/css/style.css}" href="css/style.css">
    <title>Edit anime</title>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>

<div class="row1">
    <div class="row1content" th:if="${anime}" th:object="${anime}">

        <h2 th:text="${anime.getName()}"></h2>
    <form th:action="@{|/admin/animeedit/${anime.getId()}|}" method="post">
        <div class="partyinfo">
            <div class="infoline">
                <label for="animeName">name:</label>
                <input id="animeName" th:field="*{name}">
            </div>
            <div class="infoline">
                <label for="animeEndDate">End date:</label>
                <input id="animeEndDate" th:field="*{endDate}" placeholder="yyyy-MM-DD">
            </div>
            <div class="infoline">
                <label for="animeRating">Rating</label>
                <input id="animeRating"th:field="*{rating}" min="0" max="10" step="any">
            </div>
            <input type="submit" value="Save">
        </div>
    </form>
        <a class="buttonLook mediumButton" th:href="@{|/animedetails/${anime.getId()}|}">Cancel</a>
    </div>
    <div>
        <h2>Produced by:</h2>
        <div th:each="studio : ${anime.getStudios()}">
            <a class="buttonLook mediumButton" th:text="${studio.getName()}" th:href="@{|/studiodetails/${studio.getId()}|}"></a>
        </div>
    </div>

    <div class="row1content" th:unless="${anime}">
        <p>No anime was chosen</p>
    </div>
</div>

<div th:replace="fragments/footer :: footer">Footer</div>

</body>
</html>