<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Header</title>
</head>
<body>
    <div th:fragment="header">
        <div class="nav">
            <div class="navbuttons">
                <a th:href="@{/home}">Home</a>
                <a th:href="@{/animelist}">Anime's</a>
                <a th:href="@{/mangalist}">Mangas</a>
                <a th:href="@{/authorlist}">Authors</a>
                <a th:href="@{/studiolist}">Studios</a>
            </div>
        </div>
    </div>
</body>
</html>