<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="css/style.css">
    <link rel="stylesheet" th:href="@{/css/style.css}" href="css/style.css">
    <title>Animes</title>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>

<main>
    <h2>Anime's</h2>
    <div class="row1">
        <div class="row1content">
            <div class="filters">
                <form>

                </form>
            </div>
            <div th:each="anime : ${animes}">
                <a class="buttonLook mediumButton" th:href="@{|/animedetails/${anime.getId()}|}">
                    <span th:text="${anime.getName()}"></span>
                </a>
            </div>
        </div>
    </div>
</main>

<div th:replace="fragments/footer :: footer">Footer</div>
</body>
</html>